.or-border {
  border: 1px solid #ff000026;
  width: 188px;
}
.icon {
  background-color: rgb(0 63 222 / 75%);
  border-radius: 20px;
}
.icon i {
  font-size: 15px;
  color: #ffffff;
}
.login-btn {
  padding: 2px 50px;
  background-color: #0d6efd;
  color: white;
  font-size: 20px;
  font-family: inherit;
}
.login-btn:hover {
  color: white;
  background-color: #0001f1b8;
}
